<div class="row">
    <div class=white_box>
        <h1>ようこそ<%= current_user.username %>さん!</h1>
        <h2><br>本を中断した時に、途中でわからなくなったことはないですか？</h2>
        <h2><br>このアプリは、本のしおりのかわりです。</h2>
    </div>

    <div class=yellow_box>
      <h2><br>shioriではどのページか、そこまではどの程度進んだのかを、日記形式でメモしておけます。</h2>
      <h2><br>shioriとして使わなくても、登場人物の整理、自分の大事だと思ったことをまとめて、bookに保存できます。</h2>
    </div>

    <div class=white_box2>
      <h1>ようこそ<%= current_user.username %>さん!</h1>
        <h2><br>本を中断した時に、途中でわからなくなったことはないですか？</h2>
        <h2><br>このアプリは、本のしおりのかわりです。</h2>
    </div>


    <div class=yellow_box2>
      <h2><br>shioriではどのページか、そこまではどの程度進んだのかを、日記形式でメモしておけます。</h2>
      <h2><br>shioriとして使わなくても、登場人物の整理、自分の大事だと思ったことをまとめて、bookに保存できます。</h2>
    </div>
    <%= link_to image_tag("/yaji2.png", class:"turn"), books_path  %> 
</div>