<!--bookの一覧-->
<% provide(:title, '本の一覧') %>

  <div class="mb-4">
    <h1>本の一覧</h1>
        <p class="form-label-brown">今まで読んだ本の一覧です。今まで読んだ本の一覧です。</p>
      <%= render partial: 'layouts/img_default', locals: { article: @book } %>
  </div>

<%= link_to image_tag("/book.png", class:"plus"), new_book_path  %>  