<% provide(:title, '本の登録') %>
  <div class="container">
      <div class="row">
        <div class="book_new_pb">
      
        <h1>本の登録</h1>
        <%= render partial: 'layouts/form_book', locals: {book: @book} %>
        <%= link_to image_tag("/yaji2.png", class:"turn"), books_path  %> 

      </div>
    </div>
  </div>