// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*********************************
    文字のスタイル
*********************************/
p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

h1{
  margin-top: 30px;
}

.yellow_box h2{
  color: rgb(255, 255, 255);
}
.yellow_box2 h2{
  color: rgb(255, 255, 255);
}

/*********************************
    背景のスタイル
*********************************/
.white_box{
  margin-bottom: 80px;
}
.white_box2{
  padding-top: 80px;
  margin-bottom: 80px;
}

.yellow_box{
  height: 450px;
  padding-top: 95px;
  background-color: rgb(217, 199, 4);
  border-radius: 180px;
}

.yellow_box2{
  height: 450px;
  padding-top: 95px;
  background-color:  rgb(217, 199, 4);
  border-radius: 180px;
}